
*.tiled-session
*.vsidx
/.vs
*.tlog
/.vs
*.log
*.obj
Debug/Pang-GuillemDavid.exe
Debug/Pang-GuillemDavid.ilk
Debug/Pang-GuillemDavid.pdb
*.vcxproj
*.vcxproj.*
*.filters
*.log
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.pdb
*.obj
/02-Bubble/Debug
